body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

header{
    background-color: blue;
}

.box{
    padding: 16px 32px;
    margin:  32px;
}