<section class="flex-column featured-articles ">
    <h1 class="w3-center">FEATURED ARTICLES</h1>
    <section class="flex-container articles-container">
      <a href="#" class="small-box"> Project 1 Box </a>
      <div class="small-box"> Project 1 Box </div>
      <div class="small-box"> Project 1 Box </div>
    </section>
</section>