<header>
<nav class="header-nav" id="navbar">
    <a href="/" class="logo" id="logo">JULIE WANG</a>
    <ul class="nav-btns" id="navBtns">
      <li><a class="open-modal-btn internal-link nav-btn" id="open-modal-btn" href="#">PROJECTS</a></li>
      <li><a class="internal-link nav-btn" href="/articles">WRITING</a></li>
    </ul>
</nav>
</header>
