<header>
<nav class="header-nav">
    <a href="/" class="logo" id="logo">JULIE WANG</a>
    <ul class="nav-links">
      <li><a class="internal-link" href="#">PROJECTS</a></li>
      <li><a class="internal-link" href="/articles">WRITING</a></li>
    </ul>
</nav>
</header>

<script>

</script>