<header>
<nav class="header-nav">
    <a href="/" class="logo" id="logo">JULIE WANG</a>
    <ul class="nav-links">
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/projects">PROJECTS & CASE STUDIES</a></li>
      <li><a href="/articles">WRITING</a></li>
      <li><a href="files/css_selector_cheatsheet.pdf" class="hidden menu"><i class='fa fa-bars'></i></a> </li>
    </ul>
</nav>
</header>

<script>

  
</script>