<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  css  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- js -->
  <script defer src="/js/navbar.js"></script>

  <script defer src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <script defer src="/js/animation.js"></script>
  <script type=module src="/js/components.js"></script>
  <script defer src="/js/collapsible.js"></script>
  <script defer src="/js/modal.js"></script>

  <title><%= title %></title>
</head>

<body>
<div class="container">
  <aside><%- include('../partials/_scrollTopBtn.ejs')%></aside>
  <header><%- include('../partials/_navbar.ejs')%></header>
  <social-media-container-column></social-media-container-column>

  <div class="flex-column modal" id="modal">
    <h1> My Modal</h1>
    <p>Tempor ex laboris et consequat excepteur enim reprehenderit proident sunt. Proident magna consequat nostrud cupidatat incididunt officia velit cupidatat pariatur adipisicing culpa cillum ut ullamco. Sit aute aute et excepteur. Quis qui non non irure fugiat dolor in dolor anim ipsum enim. Commodo sit nulla exercitation aute adipisicing magna dolor laboris aute dolore veniam eu. Nisi id ex irure cupidatat.</p>
    <btn class="" id="close-modal-btn">Close modal</btn>
  </div>

  <main class="inner-container grid-container">
  <%- body -%>

  <div>
    <btn class="" id="open-modal-btn">Open modal</btn>
  </div>
  
  </main>
  <my-footer>

  </my-footer>
</div>
</body>
</html>


