<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  css  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- js -->
  <script defer src="/js/navbar.js"></script>

  <script defer src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <script defer src="/js/animation.js"></script>
  <script type=module src="/js/components.js"></script>
  <script defer src="/js/collapsible.js"></script>

  <title><%= title %></title>
</head>

<body>
<div class="container">
  <aside><%- include('../partials/_scrollTopBtn.ejs')%></aside>
  <header><%- include('../partials/_navbar.ejs')%></header>
  <social-media-container-column></social-media-container-column>
  <main class="inner-container grid-container">
  <%- body -%>
  </main>
  <my-footer></my-footer>
</div>
</body>
</html>


