
<header class="page-header flex-column homepage" id="home-intro">
  <h1>Hey, I'm Julie</h1>
  <p><span>I have <span class="accent-2">5 years</span> of experience as a <span class="accent-2">tax consultant</span>,
    helping companies navigate the tax risks and opportunities associated with their <span class="accent-2">research & development</span> and  <span class="accent-2">mergers & acquisitions</span> activities.</span><br>
    <span class="and accent">&</span>
    <span>I like to <span class="accent-2">code</span> and <span class="accent-2">write</span> in my free time.</span>
  </p>
</header>
<section>
  
</section>
<section>
  <%- include('partials/_featuredArticles.ejs')%>
</section>




    