<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>homepage</title>
    <script src="./js/navbar.js"></script>

</head>

<body>

  <header class="home">
    <a href="/" class="btn name-logo">Julie Wang</a>
    
    <nav>
      <a class="btn" href="/about">ABOUT</a>
      <a class="btn" href="/projects/r&d-credits">PROJECTS</a>
      <a class="btn" href="files/juliewang_resume.pdf" target="_blank">RESUME</a>
      <a class="btn" href="/articles">WRITING</a>
    </nav>
  <!--header-->

  <section class="cover">
    <h1>Hi, I'm Julie.</h1>
    <p>I have 5 years of experience as a tax consultant, helping companies navigate opportunities and risks associated with their <br>
      research & development (R&D) and mergers & acquistions (M&A) activities.</p>
  </section>
</header>

  <section class="intro">
  </section>

</body>
</html>