<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/home.css">


<section class="intro grid-item-3 flex-container intro" id="home-intro">
  <div>Hi, my name is</div>
  <div id="name">Julie Wang</div>
  <p><span>I have <span class="accent-2">5 years</span> of experience as a <span class="accent-2">tax consultant</span>,
    helping companies navigate the tax risks and opportunities associated with their <span class="accent-2">research & development</span> and  <span class="accent-2">mergers & acquisitions</span> activities.</span><br>
    <span class="and accent">&</span>
    <span>I like to <span class="accent-2">code</span> and <span class="accent-2">write</span> in my free time.</span>
  </p>
  </div>
</section>


<section class="grid-item-4 project-box flex-container">
  <div class="small-box"> 
    <h1>The Basics</h1>
    <p>Links to my resume, social media, & email address.</p>
  </div>
  <div class="large-box"> 
  </div>
</section>

<section class="grid-item-5 project-box flex-container">
  <div class="large-box"> 
  </div>
  <div class="small-box"> 
    <h1>The Basics</h1>
    <p>Links to my resume, social media, & email address.</p>
  </div>
</section>

<section class="grid-item-6 featured-articles flex-container">
  <header class="flex-item">
     <h1>Featured Articles</h1>
  </header>
  <section class="flex-container articles-container ">
    <div class="small-box"> Project 1 Box </div>
    <div class="small-box"> Project 1 Box </div>
    <div class="small-box"> Project 1 Box </div>
  </section>
</section>

    
  </div>
</section>