<section id="swup" class="transition-fade">
    <h1 class="w3-center">Hi, I'm Julie.</h1>
<div class="w3-align-right">
  <li>I have 5 years of experience as a tax consultant, helping companies navigate through the tax risks and opportunities associated with their research and development (R&D) and mergers and acquisitions (M&A) activities.</li>  
  <li>I like to code and write in my free time.</li>
  <li>Learning and people are at the center of my personal and professional aspirations. I created this website to share my experiences, interests, and thoughts.</li>
</div>
<hr>
  </section>
