<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Blog</title>
</head>
<body>

    <header class="projects">
        <a href="/" class="btn name-logo">Julie Wang</a>
    
      <nav>
        <a class="btn" href="/about">ABOUT</a>
        <a class="btn" href="/projects">PROJECTS</a>
        <a class="btn" href="files/juliewang_resume.pdf" target="_blank">RESUME</a>
        <a class="btn" href="/articles">WRITING</a>
      </nav>
      <!--header-->
    
      <section class="cover">
        <h1>Projects</h1>
      </section>
    </header>

    <div class="w3-container">
      <a href="/projects/r&d-credits" class="card rd w3-card">
        <h1>R&D Credit</h1>
        <p>Sunt ullamco nulla cupidatat ad. Quis sunt pariatur anim cillum consectetur occaecat pariatur. Deserunt consectetur enim est aliquip velit aliqua. Anim ut magna nulla Lorem pariatur reprehenderit quis nostrud Lorem eu excepteur ipsum sunt.</p>
      </a>
     

    </div>


    
</body>
</html>