<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>Projects</title>
    <script type=module src="/modules/modules.js"></script>
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
    <script defer src="/js/animation.js"></script>

</head>
<body>
<!-- HEADER -->
<header class="projects">
<my-header></my-header>
</header>


<!-- MAIN -->
<main id="swup" class="transition-fade">
<!-- PROJECTS -->
<div class="project-container">
  <a href='projects/r&d-credits'class="transition-swipe-up projects-card projects-card-1">
    <h1>R&D Tax Credit</h1>
    <p>Showcasing skills leveraged working in this niche area of tax.</p>
  </a>

  <a href='#'class="transition-swipe-left projects-card projects-card-2">
    <h1>Personal Website</h1>
    <p>The motivation behind this website. 
    <p>Why I chose to make it from scratch.<p>
    <p> And the reasoning and inspiration behind my design choices. </p>
  </a>



</div>
</main>  

<footer>
</footer>


    
</body>
</html>