

b {
    background-color: #263238;
    background-color: hsl(204, 15%, 94%);
    background-color: #cddcd8;
    background-color: hsl(227, 25%, 85%);

    background-color: hsl(245, 41%, 95%);
    background-color: #b3b6c9;
}

accent{
background-color: hsl(164, 60%, 83%);
background-color: hsl(244, 60%, 83%)

}