

/* LAYOUT */
#home-intro {
    background-color: hsl(43, 100%, 70%);
}
#home-intro > *{
    margin: 0px;
    max-width: 650px;
    text-align: flex-start;
}


/* BASICS */
.grid-item-4 {
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
}
.grid-item-4 .large-box{
    background-color: hsl(270, 23%, 70%);
    align-self: start;
    height: 85vh;
    padding: 100px;
    transform: translateY(-15%);
    text-align: center;
    margin-top: 35px;
    width: 70%;
}
.grid-item-4 .small-box{
    background-color: hsl(203, 36%, 61%);
    /* transform: translate(30%,-10%); */
    /* flex-grow: 1; */
    margin-right: 20px;
    text-align: start;
    color: white;
    padding: 16px;
    border-left: yellow solid 10px;
    border-radius: 20px;

}

/* PROJECT-1 */
.grid-item-5 {
    flex-flow: row;
    align-items: center;
    width: 100%;
    text-align: end;
}
.grid-item-5 .large-box{
    background-color: hsl(180, 40%, 60%);
    align-self: start;
    height: 85vh;
    padding: 100px;
    text-align: center;
    margin-top: 35px;
    width: 70%;
}
.grid-item-5 .small-box{
    background-color: hsl(6, 60%, 71%);
    transform: translate(-30%,10%);
    z-index: 10;
    text-align: start;
    color: white;
    padding: 16px;
    border-left: 5px solid rgb(0, 0, 0,.5);
    border-bottom: 5px solid rgb(0, 0, 0, .5);

}



/* FEATURED ARTICLES */
.grid-item-6 {
    flex-flow: column;
    width: 100%;
    text-align: center;
}
header.flex-item{
    margin-top: 70px;
}
.articles-container {
    flex-flow: row wrap;
    justify-content: center;
    overflow: scroll;
}
.grid-item-6 .small-box {
    margin: 10px;
    background-color: hsl(43, 100%, 70%);
    transition: transform 1s;
    border-radius: 20px;

}

.grid-item-6 .small-box:hover {
    transform: translate(-5px,-10px);
    box-shadow: hsl(0, 0%, 36%) 8px 15px 15px 0px;
}

/* FONT & COLORS */
#name{
    font-size: 5rem;
}
/* COMPONENTS */
.accent-2{
    font-weight: bold;
}

.and.accent{
    color: hsl(270, 50%, 70%);
    font-size: 3rem;

}
/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
    .grid-item-4 {
        /* background-image: url(/img/1.jpg);  */
        /* background-size: cover; */
        flex-flow: column nowrap;
        /* flex-grow: 1; */
        background-color: hsl(270, 23%, 70%);
    }

    .grid-item-4 .large-box{
        /* align-self: start;
        flex-grow: 1;
        width: 100%;
        transform: translateY(-10%); */
        display: none;
    }
    .grid-item-4 .small-box{
        /* background-color: paleturquoise; */
        transform: translate(5%,-35%);
    }
    .grid-item-5 {
        flex-flow: column nowrap;
        /* flex-grow: 1; */
        background-color: hsl(180, 40%, 60%);
    }


    .grid-item-5 .large-box{
        /* align-self: start;
        flex-grow: 1;
        width: 100%;
        transform: translateY(-10%); */
        display: none;
    }
    
    .grid-item-5 .small-box{
        /* background-color: paleturquoise; */
        transform: translate(5%,35%);
        z-index: 10;
    
    }

}