/* FONT */
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
}


/* LAYOUT */
.grid-container {
    display: grid;
    /* background-image: linear-gradient(to bottom right, hsl(200, 19%, 10%),hsl(200, 19%, 15%), hsl(200, 19%, 20%));  */
    grid-gap: 20px; 
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    width: 100vw;


}

.flex-container {
    display: flex;
}

nav {
    flex-flow: row ;
    justify-content: space-between;
    /* sticky position */
    position: fixed;
    top: 0%;
    height: 70px;
    z-index: 100; 
    width: 100%;
}

#menu-btn {
    visibility: hidden;
}





/* social media links */
#social-media-container {
    flex-flow: column;
    align-items: flex-end;
    /* fxed position */
    position: fixed;
    top:75px;
    right: 0px;
    z-index: 100;
}

.intro {
    flex-flow: column nowrap;
    justify-content: center;
    /* padding-left: 20vh; */
    /* padding-right: 20vh; */
    background-color: aliceblue;
    height: 85vh;
    padding: 100px;


}

section {
    /* padding-left: 20vh; */
    /* padding-right: 20vh; */
    /* padding-top: 10%;
    padding-bottom: 10%; */
    /* padding: 64px; */
    height: 85vh; 
}

footer {
    padding: 16px 32px;
    justify-content: space-around;
    height: 75px;
}

/* buttons */
.my-btn{
    text-decoration: none;
}
.my-btn-group {
    padding-right: 16px;
    padding-top: 16px;
}

.my-btn-group > * {
    padding: 10px 24px;
 } 

/* button icons */
.my-btn > i {
    width: 25px;
    font-size: 2rem;
}



/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 700px) {
    nav a:not(:first-child) {
        display: none;
    }
    #menu-btn{
        visibility: visible;
        display: block;
    }

    section {
        padding: 16px 32px;
    }
    .intro {
        justify-content: flex-start;
        padding: 16px 32px;
        padding-top: 30%;
    }

    #social-media-container {
       display: none;
    }


}

