  

<header class="new-articles">
<my-header></my-header>
</header>

<section>
    <h1>Edit Article</h1>
    <!-- use put method to edit articles  -->
    <form action="/articles/<%- article.id%>?_method=PUT" method="POST">
    <!-- renders HTML -->
        <%- include('_form_fields')%>
    </form>
</section>
