
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/blog.css">

<!-- ARTICLES CONTAINER -->

<header class="intro">
  <h1>Blog</h1>
</header>

<featured-articles></featured-articles>


<div class="flex-column all-articles">

    <h1>All Articles</h1>
    <div>
    <% articles.forEach(article => { %>
          <%= article.title %>
          <p class="date"><%= article.createdAt .toLocaleDateString()%></p>
          <p><%= article.description %></p> 
          <!-- BUTTONS -->
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
          <hr>
      <% }) %>
    </div>
  </div>
</section>
</section>

  
