
<main id="swup" class="transition-fade">
<!-- BLOG POST -->
<section>
    <h1><%= article.title %></h1>
    <div class="text-muted mb-2"><%= article.createdAt .toLocaleDateString() %></div>
    <!-- EDIT & ALL ARTICLES BUTTONS -->
    <a href="/articles" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
    <!-- RENDER MARKDOWN aS HTML -->
    <div><%- article.sanitizedHtml %></div>
 </section>
</main>
