

/* PAGE ANIMATION */
.transition-fade{
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade{
    opacity: 0;
}

/* PROJECT PAGE ANIMATIONS */
.transition-swipe-up{
    transition: 1000ms;
    transform: translateY(0);
}

html.is-animating .transition-swipe-up{
    transform: translateY(100px);
}

.transition-swipe-left{
    transition: 1000ms;
    transform: translateX(0);
}

html.is-animating .transition-swipe-left{
    transform: translateX(100px);
}

