/* FEATURED-ARTICLES CONTAINER */
.featured-articles-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* padding: 1.2rem; */
}

.featured-articles-container > * {
    background-color: var(--color-background-light);
    border-radius: 20px;
    text-decoration: none;
    transition: transform 1s;
    padding: 1rem;
    overflow: hidden;
    padding-bottom: 2rem;
}

.featured-articles-container > *:hover {
    transform: translate(-5px,-10px);
    box-shadow: black 5px 10px 15px 0px;
}

.arrows-container{
    width: 100%;
    height: 100px;
}
.all-articles-container {
    justify-content: flex-start;
    justify-items: flex-start;
}

.all-articles-container > *{
    border-bottom: 1px solid var(--color-background-light);
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-size: .9rem;
    justify-items: flex-start;
}

.all-articles-container .btn {
font-size: .7rem;
}

/* ARROW Btns */
svg {
    cursor: pointer;
  }
  
  #darkGroup {
    fill: var(--dark-color);
  }
  #lightGroup {
    fill: var(--light-color);
  }
  #dark1,
  #light1,
  #dark2 {
    transition: all 1s ease;
  }
  #dark2 {
    transform: translateX(-150%);
  }
  svg:hover #light1 {
    transform: translateX(20%);
  }
  svg:hover #dark1 {
    transform: translateX(40%);
    opacity: 0;
  }
  svg:hover #dark2 {
    transform: translateX(0%);
  }
