.modal {
  display: none;
  padding: 16px 32px;
  border: black solid 1px;
  position: fixed;
  /* transform: translate(50%, 50%); */
  /* opacity: 0%; */
  background-color: var(--color-background-dark);
  z-index: 100;
}
  
.modal.open{
  display: flex;
  flex-direction: column;
}
  
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
}

#overlay.open {
   display: block;
}