:root {
    --color-base-hue: 203;
    --color-accent-hue: 16;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue), 100%, 8%);
    --color-background-light: hsl(var(--color-base-hue), 100%, 16%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 87%);
    --color-text-accent: hsl(var(--color-accent-hue), 100%, 87%);
    --dark-color: #635bff;
    --light-color: #80e9ff;
  }