
  <main id="swup" class="transition-fade">
  <section class="rd cover">
    <h1>R&D Tax Credit Study</h1>
    <p></p>
  </section>
<!-- ALL PROJECTS BTN -->
<a class="btn projects" href="/projects">< back to all projects</a>


<!-- MAIN -->
<section>
  <h1>Overview: What is it?</h1>
      <p>An incentive the government provides to encourage innovation, research, and development in the United States.</p>

        <p>Companies that conduct research and development (R&D) activities are allowed to capture a portion of the R&D expenses incurred as a tax credit.</p>
            
        <p>The company can use the credit to directly offset its tax liability.</p>

    <h1>The Need for a Specialist</h1>
    <ul>An R&D Credit project involves:</ul>
    <li>Determining what business activities and expenses qualify as R&D under tax law rules.</li> 
    <li> Extracting, manipulating, and analyzing company data sets to ensure expenses have been properly included in (or excluded from) the credit calculation.</li>
    <li>Documenting the company’s R&D activities and the qualification and quantification process to ensure the claim can be justified in the event of a tax audit. </li>

    <ul>Companies usually hire 3rd party consultants because the credit is: </ul>
    <li>Niche: requires knowledge of R&D Credit rules and industry/company specific knowledge.</li>
    <li>Complex and sometimes ambiguous: often resulting in an over-claiming or under-claiming of the credit.</li>
    <li>Heavily scrutinized: inadequate documentation can open companies up to consequences associated with erroneous (or in extreme cases, fraudulent) tax claims.</li>
  </section>
<hr>

  <section class="overview">
    <h1>Project Scope & Engagement Team</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>
  <hr>

  <section class="overview">
    <h1>Company Research & Project Planning</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>

  <section class="overview">
    <h1>Document Review & Data Analysis</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>

  <section class="overview">
    <h1>SME Interviews</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>

  <section class="overview">
    <h1>Calculation</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>


  <section class="overview">
    <h1>Data Summary & Analysis</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>


  <section class="overview">
    <h1>Documentation</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>


  <section class="overview">
    <h1>Deliverable/Close-Out Meeting</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>
<hr>
  <section class="overview">
    <h1>Outcome</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>
<hr>
  <section class="overview">
    <h1>Lessons Learned/Future Improvements</h1>
    <p>Eu et aliqua anim sunt dolore est pariatur incididunt proident Lorem sint adipisicing mollit. Sit irure sit ullamco irure nisi. Pariatur aute exercitation labore labore id. Eiusmod ex culpa ipsum culpa laboris dolor. Quis quis aute adipisicing amet laborum commodo ut consectetur dolor ullamco elit in nostrud id.</p>
  </section>
</main>
